/*main.css*/
header{
	/*background: rgba(0,0,0,0.3);*/
	display: fixed;
}

.navs{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 50px;
}

nav{
	/*background-color: #CCC;*/
	background: rgba(0,0,0,0.1);
	height: 50px;
}



nav ul{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li,nav .logo{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
	text-decoration: none;
}


nav ul li a{
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	height: inherit;
	color: #fff;
}

nav .logo{
	float: left;
	padding-left: 10px;
}

#banner{
	background: transparent;
	height: 700px;
}

#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top:160px;
}

#banner .inner h1{
	margin: 0;
}

button{
	border: none;
	background-color: red;
	font-weight: 700;
	color: white;
	padding: 10px;
	border-radius:5px;
	margin-top: 20px; 
}

#banner button{
	padding: 14px 60px;
}

#banner .inner .more{
	margin-top: 280px;
}

.sub-heading{
	line-height: 30px;
	margin: 30px;
}


.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #fff;
}

.logo a{
	color: #fff;
}

h2{
	font-size: 30px;
}

.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

#main-btn{
	padding: 14px 28px;
	font-size: 20px;
	letter-spacing: 4px;
	border-spacing: 4px;
	border-radius: 6px;
	background:#18a;
}

.green-section{
	background:#089DB0;
	color: #fff;
	text-align: center;
	padding: 100px 0;
}

.green-section .hr{
	background:#078494;
	width: 60%;
}

.icon-group{
	margin: 20px;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	/*background: #000;*/
	border: 1px solid red;
	transform: rotate(45deg);
	margin: 20px;
	text-align: center;
	/*padding: 1px;*/
}

.green-section .icon-group .icon i{
	/*width: 100%;*/
	transform: rotate(-45deg);
	margin: 10px;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}

.sub-header{

}

.gray-section{
	background: #ccc;
	color: #fff;
}

.gray-section .img-section{
	width: 45%;
}

.img-section img{
	width: 100%;
}

.gray-seciton .text-section{
	width: 55%;
}

.article-preview > div{
	float: left;
}

.article-preview:after{
	content: "";
	display: block;
	clear: both;
}

.text-section{
	position: relative;
	top:68px;
	left: 50px;
	/*background-color: gray;*/
}

.text-section h2{
	margin-bottom: 18px;
}

.text-seciton p{
	font-size: 18px;
}

.text-section > *{
	max-width: 90%;
}

.purple-section{
	padding: 80px;
	background:#3F3965;
	color:#fff;
}

.purple-section .heading-wrapper{
	text-align: center;
	margin: 30px auto;

}

.purple-section .hr{
	background-color: #373259;
	width: 60%;
}

.purple-section .card-group{
	width: 80%;
	/*background: #ccc;*/
	/*border: 1px solid red;*/
	margin: 0 auto;
}

.card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 20px;
	box-sizing: border-box;

	/*text-align: center;*/
	/*border: 1px solid white;*/
}

.clear{
	clear: left;
}
h3{
	font-size: 24px;
}

.card p{
	font-size: 18px;
	letter-spacing: 1px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
}

.card:first-child{
	background-color: rgba(0,0,0,0.05);
}

.card:nth-child(2){
	background-color: rgba(0,0,0,0.10);

}

.card:nth-child(3){
	background-color: rgba(0,0,0,0.15);

}

.card:nth-child(4){
	background-color: rgba(0,0,0,0.20);

}


footer{
	background:#333;
	color: #666;
	min-height: 200px;
	text-align: center;
}

ul.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}

.share-group li{
	display: inline-block;
	padding: 10px;
}

.copy{
	padding-bottom: 20px;
}

.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#mask{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	/*background-color: red;*/
	left: 0;
	background: rgba(0,0,0,0.4);
}

#sidebar{
	position: fixed;
	top:0;
	bottom: 0;
	right: -300px;
	width: 300px;
	background: #333;
	color:#fff;
	transition: right 0.5s;
}

#siderbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

#sidebar ul a{
	width: 100%;
	padding: 10px 30px;
	display: inline-block;
	text-decoration: none;
	color: white;
}

#sidebar ul a:hove
r{
	/*width: 100%;*/
	background: #444;
}

.back-to-top{
	background: #333;
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding: 10px;
	/*border: 1px solid red;*/
	cursor: pointer;
	color: white;

	font-weight: 700px;
}